# Ambiente virtual
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Arquivos de sistema
.DS_Store

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Dados (opcional - cuidado aqui)
*.csv
*.xlsx